BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; 
	MARGIN: 20px 0px; BACKGROUND-COLOR: #f8f8f8;
	FONT-SIZE: 14px; COLOR: #404040; FONT-FAMILY: ו;
	SCROLLBAR-FACE-COLOR: #c0c0c0; SCROLLBAR-HIGHLIGHT-COLOR: #e0e0e0; 
	SCROLLBAR-SHADOW-COLOR: #888888; SCROLLBAR-3DLIGHT-COLOR: #888888; 
	SCROLLBAR-ARROW-COLOR: #202020; SCROLLBAR-DARKSHADOW-COLOR: #404040; 
	SCROLLBAR-TRACK-COLOR: #d0d0d0; 
}

TD {
	PADDING-RIGHT: 15px; PADDING-LEFT: 15px; PADDING-BOTTOM: 6px; PADDING-TOP: 6px; 
	FONT-WEIGHT: normal; FONT-SIZE: 14px; FONT-STYLE: normal; FONT-VARIANT: normal; 
	COLOR: black;
}

INPUT {
	FONT-SIZE: 12px; COLOR: #55aaff; FONT-FAMILY: ו
}

SELECT {
	FONT-SIZE: 12px; COLOR: #55aaff; FONT-FAMILY: ו
}

TABLE {
	BGCOLOR: #888888
}

.c_table {
	MARGIN-TOP: 10px; WIDTH: 740px; cellSpacing: 1px; align: center
}

.c_head {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; 
	PADDING-TOP: 15px; PADDING-BOTTOM: 10px; 
	BACKGROUND-COLOR: #607080; FONT-SIZE: 36px; COLOR: white; TEXT-ALIGN: center
}

.c_subhead {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; 
	PADDING-TOP: 10px; PADDING-BOTTOM: 10px; 
	BACKGROUND-COLOR: #607080; FONT-SIZE: 28px; COLOR: white; TEXT-ALIGN: center
}

.c_title {
	PADDING-RIGHT: 20px; PADDING-LEFT: 10px; PADDING-BOTTOM: 8px; 
	PADDING-TOP: 10px; BACKGROUND-COLOR: #d8e0e8;
	FONT-SIZE: 18px; COLOR: #000040
}

.c_subtitle {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 4px; 
	PADDING-TOP: 4px; BACKGROUND-COLOR: #d8e0e8;
	FONT-WEIGHT: bold; FONT-SIZE: 12pt;
}

.c_content {
	PADDING-RIGHT: 15px; PADDING-LEFT: 15px; PADDING-BOTTOM: 6px; PADDING-TOP: 6px; 
	FONT-WEIGHT: normal; FONT-SIZE: 14px; FONT-STYLE: normal; FONT-VARIANT: normal; 
	LINE-HEIGHT: 24px; COLOR: black; BACKGROUND-COLOR: #e8f0f8
}

.c_small {
	FONT-SIZE: 14px; PADDING-BOTTOM: 1px; COLOR: black; LINE-HEIGHT: 16px; 
	PADDING-TOP: 1px; FONT-STYLE: normal; BACKGROUND-COLOR: #dddddd; 
}

.c_prog {
	FONT-SIZE: 14px; PADDING-BOTTOM: 0px; COLOR: black; LINE-HEIGHT: 14px; 
	PADDING-TOP: 0px; FONT-STYLE: normal; BACKGROUND-COLOR: #dddddd; 
}

.c_img {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; 
	PADDING-TOP: 10px; TEXT-ALIGN: center
}

HR {
	COLOR: #003060; HEIGHT: 1px
}

A:link {
	COLOR: #808080; TEXT-DECORATION: underline
}

A:visited {
	COLOR: #000044; TEXT-DECORATION: underline
}

A:hover {
	COLOR: 008888; TEXT-DECORATION: underline
}

